.support-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.support-logo img {
  width: 360px;
  height: 354px !important;
}

.list {
  margin-bottom: 0;
}
.textareaclass{
  margin-top: 10px;
    border-style: solid;
    border-color: #96957f;
}