<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align:center"> eLearning - Course Enroll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="signup-logo">
    <img src="assets/img/logo/eLearing_Logo1.jpg" alt="Ionic Logo">
  </div>

  <form #signupForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" color="primary">Name</ion-label>
        <ion-input [(ngModel)]="signup.name" name="name" type="text" placeholder="Please Enter Name" #name="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="name.valid || submitted == false" class="ion-padding-start">
          Name is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input [(ngModel)]="signup.email" name="email" type="text" placeholder="Please Enter Email" #email="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
          Email is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Mobile No</ion-label>
        <ion-input [(ngModel)]="signup.mobileNo" name="mobileNo" placeholder="Please Enter Mobile No" type="number" #mobileNo="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="mobileNo.valid || submitted == false" class="ion-padding-start">
          Mobile Number is required
        </p>
      </ion-text>
    </ion-list>

    <div class="ion-padding">
      <ion-button color="success" style="text-transform: initial;" (click)="onSignup(signupForm)" type="submit" expand="block">Enroll</ion-button>
    </div>
  </form>

</ion-content>
