.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  width: 360px;
    /* max-height: 251px; */
    height: 354px !important;
    margin-bottom: -15%;
    /* top: 40%; */
    margin-top: -14%;
  // max-width: 150px;
}

.list {
  margin-bottom: 0;
}
